.env
/random.text
C:\tai_jutsu\GENETICS\jayendra-madaram-firebase-adminsdk-p6rxo-603c7c7cad.json
/jayendra-madaram-firebase-adminsdk-p6rxo-603c7c7cad.json
jayendra-madaram-firebase-adminsdk-p6rxo-603c7c7cad.json